<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="layout.html :: layout"></div>
    <body>
        <div class="jumbotron">
            <img class="group category-image responsive" th:attr="src='/static/img/' + ${category_name} + '.jpg'" alt="" />
        </div>
        <div class="container">
            <div id="products" class="row">
                <div class="item col-xs-6 col-md-3 border border-dark" th:each="prod : ${products}">
                    <div class="thumbnail">
                        <img class="product_image group list-group-image" th:attr="src='/static/img/jar' + ${prod.getId()} + '.png'" alt="" />
                        <div class="caption">
                            <h4 class="group inner list-group-item-heading" th:text="${prod.getName()}">Product name</h4>
                            <p class="group inner list-group-item-text" th:text="${prod.getDescription()}">Product description... </p>
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                                </div>
                                <div class="col-xs-12 col-md-6">
                                    <form th:classappend="${userId == null} ? 'd-none' : ''" class="logged-in" method="post">
                                    <button class="btn btn-success add_to_cart" type="submit" th:value="${prod.getId()}"
                                            name="product">+ Add to cart</button>
                                    </form>
                                </div>
                                <a class="dropdown-item" th:href="@{'/?category=' + ${prod.getProductCategoryName()}}"
                                   th:text="${prod.getProductCategoryName()}"></a>
                                <a class="dropdown-item" th:href="@{'/?supplier=' + ${prod.getSupplierName()}}"
                                   th:text="${prod.getSupplierName()}"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="alert-messages"></div>
    </body>
</html>