<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="layout">
        <meta charset="utf-8" />
        <meta name="author" content="Codecool" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Codecool Shop</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
              integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous" defer></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
                integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
                crossorigin="anonymous" defer></script>

        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous" defer></script>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
              integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
        <script src="/static/js/data_handler.js" defer></script>
        <script src="/static/js/dom.js" defer></script>
    </head>
    <body>
        <nav th:fragment="layout" class="navbar navbar-light bg-dark">
            <div class="row">
                <a class="navbar-brand" href="/">
                    <img src="/static/img/cap-swirl.png" width="70" height="70" class="d-inline-block align-top ml-2" alt="">
                    <span class="brand display-4">intAirnet</span>
                </a>
                <div th:classappend="${userId == null} ? '' : 'd-none'" class="dropdown logged-out">
                    <button class="btn btn-info dropdown-toggle ml-2 mr-2" type="button" data-toggle="dropdown">
                        Register
                    </button>
                    <div class="dropdown-menu">
                        <div class="col-1"></div>
                        <div class="m-2">
                            <form id="register_form">
                                <h1 class="dropdown-item">Registration</h1>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <label for="email_register">Username:</label><br>
                                    <input id="email_register" name="register_register" type="text" required>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <label for="password_register">Password:</label><br>
                                    <input id="password_register" name="password_register" type="password" required>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <label for="confirm_password">Confirm Password:</label><br>
                                    <input id="confirm_password" name="confirm_password" type="password" required>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <input id="register-button" class="btn btn-outline-success my-2 my-sm-0"
                                           type="button" value="Register">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:classappend="${userId == null} ? '' : 'd-none'" class="dropdown logged-out">
                    <button class="btn btn-info dropdown-toggle ml-2 mr-2" type="button" data-toggle="dropdown">
                        Login
                    </button>
                    <div class="dropdown-menu">
                        <div class="col-1"></div>
                        <div class="card m-2">
                            <form id="login_form">
                                <h1 class="dropdown-item">Login</h1>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <label for="email_login">Username:</label><br>
                                    <input id="email_login" name="email_login" type="text" required>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <label for="password_login">Password:</label><br>
                                    <input id="password_login" name="password_login" type="password" required>
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="dropdown-item">
                                    <input id="login-button" class="btn btn-outline-success my-2 my-sm-0"
                                           type="button" value="Login">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div th:classappend="${userId == null} ? 'd-none' : ''" class="dropdown logged-in">
                    <button id="logout-button" class="btn btn-info ml-2 mr-2" type="button">
                        Logout
                    </button>
                </div>

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle ml-2 mr-2" type="button" data-toggle="dropdown">Category
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="categ :${category}">
                            <a class="dropdown-item" th:href="@{'/?category=' + ${categ.getName()}}" th:text="${categ.getName()}">HTML</a>
                        </li>
                    </ul>
                </div>

                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle ml-2 mr-2" type="button" data-toggle="dropdown">Supplier
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li th:each="supp :${supplier}">
                            <a class="dropdown-item" th:href="@{'/?supplier=' + ${supp.getName()}}" th:text="${supp.getName()}">HTML</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div th:classappend="${userId == null} ? 'd-none' : ''" class="cart" align="right">
                <form action="/shopping-cart" method="get">
                    <button class="btn btn-info btn-lg" type="submit"><i class="fas fa-shopping-cart"></i></button>
                </form>
                <span id="item-count" class="d-none"></span>
            </div>
        </nav>
    </body>
</html>